<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
</head>

<body>
    {% include "/partials/nav.html" %}
    <div class="post">
        <h1>{{ post.title }}</h1>
        {{ post.body }}
    </div>

    <div class="comments">
        <h3>Comments</h3>
        {% for comment in comments %}
        <div class="comment">
            {{ comment.body }}
        </div>
        {% endfor %}
    </div>

    <div class="form-wrapper">
        <form action="/comments" method="post">
            <div>
                <input type="text" name="body">
            </div>
            <input type="hidden" name="postSlug" value={{ post.slug }}>
            <div class="button">
                <button type="submit">Add Comment</button>
            </div>
        </form>
    </div>
</body>
